<!DOCTYPE html>
<html>
<head>
    <title>Upload Question Paper</title>
</head>
<body>
    <h1>Upload Question Paper</h1>
    <form method="post" enctype="multipart/form-data">
        <label for="question_file">Question Paper File:</label>
        <input type="file" id="question_file" name="question_file">
        <br><br>
        <label for="answer_key_file">Answer Key File:</label>
        <input type="file" id="answer_key_file" name="answer_key_file">
        <br><br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>
